.posterCSS{
    background-image: url(https://m.media-amazon.com/images/M/MV5BMjExNDgzNzc1OF5BMl5BanBnXkFtZTgwNTI5ODM5MDE@._V1_SX300.jpg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
